<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>J-list</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/home-syles.css" />
    <link rel="stylesheet" href="/styles/about-styles.css" />
    <link rel="stylesheet" href="/styles/log-in-styles.css" />
  </head>
  <body>
    <header class="header-app">
      <div class="container__logo-header">
        <img
          src="/images/header/logo-black-nav.png"
          alt="Logo"
          class="logo__header"
        />
        <p class="text__logo-header"><span>This is</span> J-List</p>
      </div>
      <nav class="header__nav-list" role="navigation">
        <ul class="header__nav">
          <li class="item__nav-choice home__section" role="menuitem">
            <img
              src="/images/header/home.png"
              alt="icon-home-page"
              class="icon__nav-header"
              role="img"
            />
            <a href="#home-page" role="link">Home</a>
          </li>
          <li class="item__nav-choice About__section" role="menuitem">
            <img
              src="/images/header/info.png"
              alt="icon-about-us"
              class="icon__nav-header"
              role="img"
            />
            <a href="#about-page" role="link">About Us</a>
          </li>
          <button class="Log__button-section" role="button">
            <a href="#log__page-section">Sign In</a>
          </button>
        </ul>
      </nav>
    </header>
    <section class="section__home-page" id="home-page">
      <div class="container__text-welcome">
        <h2 class="welcome__text">Welcome, let´s do your first task</h2>
        <img
          src="/images/main-section/blop-shape.svg"
          class="blop__welcome-shape"
          alt="background-shape-title"
        />
      </div>
      <div class="container__arrow-down">
        <a href="#section__main" class="link__arrow-down">
          <img
            src="/images/main-section/arrow-down-section.svg"
            class="arrow__down-home"
            alt="arrow down picture"
          />
        </a>
      </div>
    </section>
    <main class="container__main-app" id="section__main">
      <section class="container__input-task">
        <div class="form-container">
          <form class="form">
            <div class="form-group">
              <label for="input__task-user" class="label__text-input"
                >What´s your task?</label
              >
              <div class="container__input-space">
                <label for="input__task-user" class="container__icon-newTask">
                  <img
                    src="/images/main-section/To do list.svg"
                    class="icon__new-task"
                    alt="icon add new task"
                  />
                </label>
                <input
                  type="text"
                  id="input__task-user"
                  name="input"
                  placeholder="Write Here..."
                  required=""
                />
              </div>
            </div>
            <button class="form-submit-btn" type="submit">Add Task</button>
          </form>
        </div>
      </section>
      <section class="container__list-task">
        <div class="container__buttons-task">
          <div class="custom-select" role="dialog">
            <p class="select-button">Filter</p>
            <img
              src="/images/main-section/filter-icon.svg"
              alt="filter-icon"
              class="icon__filter"
            />
            <div class="options">
              <div class="option" data-value="1">Recent</div>
              <div class="option" data-value="2">Finished</div>
              <div class="option" data-value="3">Incomplete</div>
            </div>
          </div>
          <div class="container__button-delete" role="button">
            <p>Delete All</p>
            <img
              src="/images/main-section/Trash.svg"
              alt="icon-trash"
              class="icon__trash-all"
            />
          </div>
        </div>
        <div class="container__task">
          <article class="container__task-user">
            <!--Cada uno de los article serán los elementos creados por el usuario-->
            <div class="container__icon-checked">
              <span class="icon__checked" role="checkbox"></span>
            </div>
            <div class="container__text-task">
              <p class="text__task-user">Action</p>
            </div>
            <div class="container__icon-edit" role="button">
              <img
                src="/images/main-section/pencil.svg"
                alt="edit-icon"
                class="edit__icon"
              />
            </div>
            <div class="container__icon-edit" role="button">
              <img
                src="/images/main-section/cross_remove.svg"
                alt="remove-icon"
                class="delete__icon"
              />
            </div>
          </article>
          <article class="container__task-user">
            <!--Cada uno de los article serán los elementos creados por el usuario-->
            <div class="container__icon-checked">
              <span class="icon__checked" role="checkbox"></span>
            </div>
            <div class="container__text-task">
              <p class="text__task-user">Action</p>
            </div>
            <div class="container__icon-edit" role="button">
              <img
                src="/images/main-section/pencil.svg"
                alt="edit-icon"
                class="edit__icon"
              />
            </div>
            <div class="container__icon-edit" role="button">
              <img
                src="/images/main-section/cross_remove.svg"
                alt="remove-icon"
                class="delete__icon"
              />
            </div>
          </article>
          <article class="container__task-user">
            <!--Cada uno de los article serán los elementos creados por el usuario-->
            <div class="container__icon-checked">
              <span class="icon__checked" role="checkbox"></span>
            </div>
            <div class="container__text-task">
              <p class="text__task-user">Action</p>
            </div>
            <div class="container__icon-edit" role="button">
              <img
                src="/images/main-section/pencil.svg"
                alt="edit-icon"
                class="edit__icon"
              />
            </div>
            <div class="container__icon-edit" role="button">
              <img
                src="/images/main-section/cross_remove.svg"
                alt="remove-icon"
                class="delete__icon"
              />
            </div>
          </article>
          <article class="container__task-user">
            <!--Cada uno de los article serán los elementos creados por el usuario-->
            <div class="container__icon-checked">
              <span class="icon__checked" role="checkbox"></span>
            </div>
            <div class="container__text-task">
              <p class="text__task-user">Action</p>
            </div>
            <div class="container__icon-edit">
              <img
                src="/images/main-section/pencil.svg"
                alt="edit-icon"
                class="edit__icon"
              />
            </div>
            <div class="container__icon-edit">
              <img
                src="/images/main-section/cross_remove.svg"
                alt="remove-icon"
                class="delete__icon"
              />
            </div>
          </article>
        </div>
      </section>
    </main>
    <section class="section__about-page" id="about-page">
      <div class="container__about-content">
        <div class="box__title-about">
          <img
            src="/images/info-icon.svg"
            alt="info-image"
            class="info__icon-about"
          />
          <div class="shape__nice-blop">
            <img
              src="/images/about/Text-logo.svg"
              alt="logo-j List"
              class="logo__about-image"
            />
          </div>
        </div>
        <div class="container__img-info">
          <img
            src="/images/about/image-example.svg"
            alt="img-info"
            class="image__info-example"
          />
        </div>
        <div class="container__description-info">
          <div class="content__description">
            <h4 class="title__description">Title</h4>
            <span>Sub-Title</span>
            <p class="text__description-content">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed,
              neque? Doloremque beatae culpa exercitationem quam autem fugiat
              dolores molestiae in vel cum, suscipit praesentium ipsam
              voluptatum veritatis qui iusto omnis?
            </p>
          </div>
          <div class="container__picture-list">
            <picture class="picture__img">
              <source
                srcset="/images/about/picture-list-bigger.png"
                media="(min-width: 1060px)"
              />
              <img
                src="/images/about/picture-list.svg"
                alt="picture list"
                class="picture__list-item"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="container__image-ray">
        <img
          src="/images/about/image-new_section.svg"
          alt="image ilustration"
          class="image__new-section"
        />
      </div>
    </section>
    <section class="section__log-page" id="log__page-section">
      <form class="form__log">
        <p class="form-title-log">Sign in to your account</p>
        <div class="input__container-log">
          <label for="input__email" class="label__input-log">Email</label>
          <input
            placeholder="Example@gmail.com"
            type="email"
            id="input__email"
            class="input__email-log input__log-section"
          />
        </div>
        <div class="input__container-log">
          <label for="input__password" class="label__input-log">Password</label>
          <input
            placeholder="Your password"
            type="password"
            id="input__password"
            class="input__password-log input__log-section"
          />
        </div>
        <div class="container__text-log">
          <label for="input__checkbox" class="capa__label-log">
            <input
              type="checkbox"
              class="input__box-section"
              id="input__checkbox"
              role="checkbox"
            />
            <label for="input__checkbox" class="label__term-section">
              <span class="text__log-section">Terminos y Condiciones</span>
            </label>
          </label>
        </div>
        <div class="input__container-submit">
          <button class="submit__form-log" type="submit" role="button">Sign in</button>
        </div>

        <p class="signup-link">
          No account?
          <a href="">Sign up</a>
        </p>
      </form>
    </section>

    <script src="/app/index.js"></script>
    <!-- <script src="/app.js"></script> -->
  </body>
</html>
