<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>J-list</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/home-syles.css" />
  </head>
  <body>
    <header class="header-app">
      <div class="container__logo-header">
        <img src="/images/logo-black-nav.png" alt="Logo" class="logo__header" />
        <p class="text__logo-header"><span>This is</span> J-List</p>
      </div>
      <nav class="header__nav-list">
        <ul class="header__nav">
          <li class="item__nav-choice home__section">
            <img src="/images/home.png" alt="" class="icon__nav-header">
            <a href="#home-page">Home</a>
          </li>
          <li class="item__nav-choice About__section">
            <img src="/images/info.png" alt="" class="icon__nav-header">
            <a href="">About Us</a>
          </li>
          <button class="Log__button-section">
            <a href="">Log In</a>
          </button>
        </ul>
      </nav>
    </header>
    <section class="section__home-page" id="home-page">
      <div class="container__text-welcome">
        <h2 class="welcome__text">Welcome, let´s do your first task</h2>
        <img src="/images/blop-shape.svg" class="blop__welcome-shape" />
      </div>
    </section>
    
  </body>
</html>
