/* --> ABOUT US SECTION STYLES <--*/

.section__about-page {
    padding: 10px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* min-height: 100dvh; */
    width: clamp(270px, 100%, 900px);
    margin: 320px 100px;
}

.container__about-content {
    /* view-timeline-name: --info;
    view-timeline-axis: block;
    animation-timeline: --info;
    animation-name: showing ;
    animation-range: contain -35% cover 40%;
    animation-fill-mode: both;
    animation-timing-function: ease; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 14px;
}

.box__title-about {
    display: flex;
    gap: 4px;
    align-self: baseline;
    align-items: center;
    justify-content: space-between;
    font-family: "MuseoModerno";
    font-style: italic;
}

.shape__nice-blop {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
}

.logo__about-image {
    width: clamp(220px, 110%, 680px);
    scale: .9;
    padding-right: 30px;
    filter: drop-shadow(3px 3px 3px #3331);
}


.title-info {
    font-size: clamp(24px, 2.2vw, 28px);
}

.container__img-info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info__icon-about {
    width: clamp(32px, 15%, 270px);
    padding-left: 8px;
}

.image__info-example {
    border-radius: 8px;
    width: clamp(380px, 100%, 560px);
    object-fit: cover;
    object-position: center;
    transition: all .3s allow-discrete ease;
}

.container__description-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 10px;
}

.content__description .title__description {
    font-weight: 500;
    line-height: 30px;
    color: #222;
    ;
}

.content__description {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #333;
}

.content__description .title__description {
    letter-spacing: .4px;
    line-height: 24px;
    font-size: clamp(24px, 2.4vw, 28px);
}

.content__description>span {
    margin-bottom: 20px;
    font-size: clamp(18px, 1.8vw, 22px);
}

.content__description .text__description-content {
    line-height: 150%;
    text-wrap: pretty;
    font-size: clamp(18px, 1.6vw, 20px);
}


.container__picture-list {
    user-select: none;
    background: transparent;
    backdrop-filter: blur(3px);
}

.image__new-section {
    width: 410px;
    margin-top: 40px;
    display: none;
}

/* ---> MEDIA QUERYS PENDIENTES <---*/

@media (width >=660px) {
    .image__info-example {
        transition: all .3s ease allow-discrete;
        display: none;
    }

    .container__about-content {
        padding: 26px 16px;
        box-shadow: 0px 0px 1px #3333;
        border-left: 2px dotted #3339;
        border-right: 2px dotted #3339;
        border-radius: 2px;
    }

    .container__picture-list {
        padding: 12px;
    }

    .info__icon-about {
        scale: .9;
        margin-left: 18px;
    }

    .container__description-info {
        flex-direction: row;
        gap: 0px;
    }
    .box__title-about {
        align-self: center;
        gap: 10px;
    }

    .logo__about-image {
        scale: .9;
    }

    .image__new-section {
        display: flex;
    }
}

/*--> ANIMACIONES PENDIENTES <---*/



@keyframes showing {
    from {
        opacity: 0;
        scale: .2;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}