* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    scroll-behavior: smooth;
    /* scrollbar-width: thin; */
    scroll-snap-type: inline mandatory;
}

::-webkit-scrollbar{
    width: .8rem;
}

::-webkit-scrollbar-track{
    /* background: color-mix(in srgb,rgb(246 119 172) 20%, #2F6AD8 56%); */
    background-color: #ddd;
}

::-webkit-scrollbar-thumb{
    background: color-mix(in srgb,rgb(246 119 172) 20%, #2f6ad8 56%);
    border-radius: 8px;
    /* border: 3px solid #ddd; */
}


body {
    font-family: Montserrat;
    background-color: #FDFDFD0a;
    /* min-height: 100dvh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*--> HEADER SECTION <---*/

.header-app {
    width: 100%;
    padding: 8px;
    color: #333;
    display: flex;
    box-shadow: 0 0px 2px #0004;
    z-index: 40;
    justify-content: space-between;
    align-items: center;
    container: logo-header / inline-size;
    position: relative;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.header__nav-list {
    flex-grow: 1;
}

.header__nav {
    display: flex;
    width: 100%;
    padding: 8px 10px;
    font-size: clamp(12px, 1.8vw, 18px);
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}



.header__nav,
.header__nav>li a {
    list-style: none;
    color: #333;
    text-decoration: none;
}

.item__nav-choice {
    /* background: #ededed; */
    padding: 8px 10px;
    letter-spacing: .6px;
    cursor: pointer;
    border-radius: 1.5px;
    text-wrap: wrap;
    text-align: center;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 100px;
    flex-grow: 1;
    max-width: fit-content;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item__nav-choice:hover {
    background-color: #F5F5F5;
}

.item__nav-choice:first-child {
    border-bottom: 1.7px solid #303030;
}

.item__nav-choice:nth-child(2) {
    border-bottom: 1.7px solid transparent;
}

.Log__button-section {
    border: none;
    background-color: #333;
    padding: 8px 24px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 #0004;
    cursor: pointer;
    opacity: .90;
    scale: .95;
    transition: all .3s ease;
    flex-grow: 1;
    max-width: 130px;
    min-width: 90px;
}

.Log__button-section:not(:hover) {
    opacity: 1;
    scale: 1;
}


.Log__button-section>a {
    color: #ffffff;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 16px;
    font-size: clamp(12px, 1.8vw, 18px);
    ;
    letter-spacing: .6px;
}


.container__logo-header {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    gap: 10px;
    font-size: 22px;
    padding: 4px 16px;
    font-weight: 600;
    position: absolute;
    opacity: 0;
    z-index: -10;
    transition: all .5s ease allow-discrete;
}

.container__text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__logo-header {
    text-shadow: 1px 2px 3px #3332;
    padding-right: 9px;
    border-right: 2px dotted #6F6EC9;
}

.text__logo-header>span {
    color: #6F6EC9;
    opacity: .95;
}

.logo__header {
    width: 40px;
    margin: 0;
    object-fit: cover;
}


.icon__nav-header {
    width: clamp(18px, 1.8vw, 22px);
}

/*--> Welcome section <--*/

.section__home-page {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
    position: relative;
    /* border: 2px solid black; */
}


.container__arrow-down {
    user-select: none;
    display: flex;
    position: relative;
    bottom: 100px;
    z-index: 1;
    width: clamp(240px, 90%, 300px);
    justify-content: center;
    clip-path: circle(50%);
    /* border: 2px solid black; */
}

.container__arrow-down:focus{
    background-color: transparent;
    opacity: 1;
    transform: none;

}

.arrow__down-home {
    user-select: none;
    display: block;
    z-index: 1;
    opacity: .86;
    width: clamp(240px, 100%, 300px);
    transition: all .2s ease allow-discrete;
    interpolate-size: allow-keywords;
    border-radius: 50%;
    animation: infinite both clickMe 1.5s alternate;
    /* border: 2px solid black; */
}

.link__arrow-down {
    display: flex;
    user-select: none;
    /* border: 2px solid black; */
}

.link__arrow-down:hover .arrow__down-home {
    animation: none;
    opacity: 1;
    scale: 1.02;
}

.container__text-welcome {
    font-family: 'Rock Salt';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-wrap: balance;
    width: clamp(220px, 85%, 520px);
    height: 160px;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in;
    user-select: none;
    z-index: 20;
}

.welcome__text {
    line-height: 36px;
    font-size: clamp(24px, 2.6vw, 28px);
    text-align: center;
    opacity: .7;
    color: #000000;
    text-shadow: 1px 3px 3px #0006;
    z-index: 20;
    overflow: hidden;
    animation: 1s normal blinking ease both;
    transition: all .3s;
}

.blop__welcome-shape {
    position: absolute;
    width: clamp(380px, 90%, 560px);
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    display: none;
    opacity: 0;
    transform: scale(.4);
    transition: all .3s allow-discrete ease-in-out;
}


/* --> MAIN SECTION APP <-- */

#section__main {
    min-height: 100dvh;
    justify-content: center;
    /* border: 2px solid black; */
}

.container__main-app {
    display: flex;
    margin: auto;
    /* min-height: 100dvh; */
    flex-direction: column;
    align-items: center;
    width: clamp(270px, 95%, 1770px);
    /* margin-bottom: 60px; */
}


.container__input-task {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 4px;
}

.form-container {
    width: clamp(270px, 100%, 570px);
    min-height: 230px;
    justify-content: center;
    background-color: #fff;
    padding: 34px 22px 26px 22px;
    font-size: clamp(14px, 1.8vw, 18px);
    font-family: inherit;
    color: #1e1e1e;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container button:active {
    scale: 0.95;
}


.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container__input-space {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px;
}

.container__icon-newTask {
    display: grid;
    user-select: none;
    place-content: center;
    padding: 8px;
    border-radius: 8px;
    flex-grow: 1;
    cursor: pointer;
    transition: all .3s ease;
}

.icon__new-task {
    user-select: none;
    display: flex;
    align-items: center;
    width: clamp(24px, 2.2vw, 28px);
    object-fit: cover;
    object-position: center;
    scale: 1.05;
    transition: all .3s ease;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group .label__text-input {
    display: block;
    font-size: clamp(16px, 1.8vw, 20px);
    margin-bottom: 5px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    line-height: 18px;
    font-family: inherit;
    border: none;
    border-left: 2px solid #333b;
    transition: all .3s ease;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus-visible {
    outline: none;
}

.form-container .form-group input:focus {
    scale: .98;
    background-color: #f5f5f5;
}


.container__icon-newTask:hover {
    background: #f5f5f5;
    opacity: .9;
}
.container__icon-newTask:hover .icon__new-task {
    display: block;
    transition:  all .2s ease;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #2C2C2C;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.084), 0px 2px 2px rgba(0, 0, 0, 0.168);
    transition: all .2s ease;
}

.form-container .form-submit-btn:hover {
    background-color: #3c3c3c;
}



/*--> LIST TO TO <---*/

.container__list-task {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-height: auto; */
    justify-content: start;
    align-items: center;
    border-radius: 12px;
    /* flex-grow: 1; */
}


.container__buttons-task {
    display: flex;
    justify-content: space-evenly;
    padding: 26px 14px;
    gap: 12px;
    width: clamp(270px, 90%, 570px);
}

/* contenedor de trash*/
.container__button-delete {
    width: clamp(150px, 50%, 190px);
    font-size: clamp(22px, 2.2vw, 28px);
    flex-grow: 1;
    border: 1.6px solid #aab1a4;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    background-color: #aab1a4;
    box-shadow: 0 3px 3px 0 #00000011;
    font-weight: 600;
    font-family: "Caveat", Montserrat;
    /* font-weight: 500; */
    letter-spacing: .2px;
    text-align: center;
    transition: all .3s ease;
}


.container__button-delete:hover {
    transition: all .2s ease allow-discrete;
    border: 1.6px solid #889180;
    background: #889180;
    /* opacity: .99; */
    scale: .95;
}


.container__button-delete:hover .icon__trash-all{
    animation: trash-hover 1s 2 both alternate;
}

/* Contenedor del select */
.custom-select {
    font-family: "Caveat", Montserrat;
    font-size: clamp(22px, 2.2vw, 28px);
    font-weight: 500;
    letter-spacing: .8px;
    position: relative;
    padding: 2px 4px;
    width: clamp(150px, 50%, 190px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #333333;
    z-index: 10;
    transition: all .3s ease;
    flex-grow: 1;
}

.custom-select:hover {
    scale: .95;
    opacity: .95;
}

/* Botón del select */
.select-button {
    padding: 10px;
    width: 100%;
}

/* Lista de opciones */
.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #3339;
    z-index: 1000;
    display: none;
    border-radius: 16px;
    overflow: hidden;
}

/* Estilo de cada opción */
.option {
    padding: 10px;
    cursor: pointer;
    background-color: #333333;
    transition: background-color 0.3s ease;
}



/* Efecto hover para las opciones */
.option:hover {
    background-color: #555;
}

/* Mostrar las opciones al hacer clic */
.custom-select.active .options {
    display: block;
}

.icon__trash-all {
    height: max-content;
    margin: 5px;
    width: clamp(24px, 2.2vw, 28px);
    transition: all .3s ease;
}

.icon__filter {
    margin-right: 6px;
    height: fit-content;
    width: clamp(22px, 2.2vw, 28px);
}


/*---> list task user <--*/

.container__task {
    margin-top: 8px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: clamp(260px, 100%, 1270px);
    align-items: center;
    /* border: 2px solid black; */
    gap: 8px;
    /* background-color:#617ad0; */
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 2px #0003;
}

.container__task-user {
    display: flex;
    align-items: center;
    gap: 14px;
    /* background: #617ad0; */
    background-color: transparent;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    outline-color: #3337;
    transition: all .3s ease;
    width: 100%;
}

.text__task-user {
    color: #333;
    font-weight: 400;
}

.container__task-user:hover {
    opacity: .9;
    background-color: #9991;
}

.container__task-user:hover .container__icon-edit {
    opacity: 1;
}

.container__icon-checked {
    display: flex;
    width: fit-content;
    transition: all .2s ease;
}

.container__icon-checked:hover {
    scale: 1.20;
}

.icon__checked {
    background-color: #f5f5f5;
    border: 1.6px solid black;
    width: 22px;
    height: 22px;
    border-radius: 100%;
}

.container__text-task {
    flex-grow: 1;
    padding-left: 10px;
    margin-left: -10px;
    font-weight: 500;
    color: #333;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}


.container__icon-edit {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    border-radius: 8px;
    opacity: 0;
    transform-origin: center;
    backface-visibility: hidden;
    /* Oculta cualquier artefacto */
    transform-style: preserve-3d;
    /* Mejor precisión en transformaciones */
    transform: scale(1);
    transition: all .3s ease;
}

.container__icon-edit:hover {
    background: #aaa5;
    transform: scale(1.08);
    opacity: .9;
}

.edit__icon {
    width: 30px;
}

.delete__icon {
    width: 30px;
}

/*MEDIA QUERY HEADER DESK-TOP*/
@container logo-header (width >=700px) {
    .container__logo-header {
        position: relative;
        display: flex;
        opacity: 1;
    }

    .Log__button-section {
        padding: 14px 28px;
    }
}

@media (width >=660px) {

    /*--> HEADER SECTION <-- */
    /*--> WELCOME-TEXT-SECTION <--*/
    .section__home-page {
        height: fit-content;
    }

    .container__text-welcome {
        height: max-content;
        position: relative;
        top: 18px;
        height: 250px;
        overflow: visible;
        margin: 48px auto;
    }

    .blop__welcome-shape {
        display: block;
        top: 0;
        right: 0;
        opacity: 9;
        transform: scale(1);
        transition: all .3s ease;

        @starting-style {
            transform: scale(0);
        }
    }

    /*---> ARROW RESPONSIVE <---*/
    .container__arrow-down {
        /* transition: all .3s ease; */
        position: relative;
        bottom: 0;
    }

    /*---> LIST TASK USER <---*/
    .container__task {
        align-items: start;
    }

}


/* --> ANIMATIONS SECTION <---*/

/*HEADER*/


/*TEXT-WELCOME*/
@keyframes blinking {

    0%,
    100% {
        scale: 1.02;
        opacity: .7;
    }

    50% {
        scale: .7;
        opacity: .5;
    }

}




/*ARROW-DOWN*/

@keyframes clickMe {

    0%,
    100% {
        scale: 1.02;
    }

    50% {
        scale: 1;
    }
}



/*TRASH ICON MOVING*/
@keyframes trash-hover {
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(15deg);
    }

    100%{
        transform: rotate(0deg);
    }
}